@{
    int index = 0;
    decimal total = 0;
    Layout = null;
    Softomation.DMS.Libraries.CommonLibrary.InterfaceLayer.PlazaManagementIL PlazaData = ViewBag.PlazaData;
}
@model Softomation.DMS.Libraries.CommonLibrary.InterfaceLayer.CashFlowConfigurationIL

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cash Deposit Receipt</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media='screen,print' />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <style type="text/css">
        .blankSpace {
            width: 100%;
            height: 5px;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        @@media print {
            .noprint {
                display: none !important;
            }
        }
    </style>
    <style type="text/css">
        table.tableizer-table {
            font-size: 10px;
            border: 1px solid #CCC;
            font-family: Arial, Helvetica, sans-serif;
        }

        .tableizer-table td {
            padding: 4px;
            margin: 3px;
            border: 1px solid #CCC;
        }

        .tableizer-table th {
            background-color: #104E8B;
            color: #FFF;
            font-weight: bold;
        }

        .container {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 0px;
            margin-left: 0px;
            max-width: 100% !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="tbldata2" style="width:100% ">
            <tr>
                <th style="margin-left:2px;width:20%"><img src="~/Content/NHAIlogo.jpg" height="70" /></th>
                <th style="width: 30%"><h3 style="color: black;">@PlazaData.PlazaName</h3></th>
                <th></th>
            </tr>
        </table>
        <div style="border:1px solid"></div>
        <table class="tbldata2" style="width:100% ">
            <tr>
                <th style="width:20%"></th>
                <th style="width: 40%"><h3 style="color: black;"><b>Cash Deposit Receipt</b></h3></th>
                <th></th>
            </tr>
        </table>
        <div style="border:1px solid"></div>
        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="width:10%">Shift Date</td>
                    <td style="width:20%">: @Model.ShiftDate.ToString("dd-MMM-yyyy")</td>
                    <td style="width:20%"></td>
                    <td style="width:15%"></td>
                    <td style="width:15%">Shift</td>
                    <td style="width:20%">: @Model.StartTimmng - @Model.EndTimming</td>
                </tr>
                <tr>
                    <td style="width:10%">Operator</td>
                    <td style="width:20%">: @Model.TCLoginId</td>
                    <td style="width:20%"></td>
                    <td style="width:15%"></td>
                    <td style="width:15%">Deposit Amount</td>
                    <td style="width:20%">: &#8377; @Model.ClearenceData.DepositedAmount</td>
                </tr>
                <tr>
                    <td style="width:10%">Receipt</td>
                    <td colspan="5">: @Model.ClearenceData.ReceiptNumber</td>
                </tr>
                <tr>
                    <td colspan="6">@ViewBag.Type Receipt</td>
                </tr>
            </tbody>
        </table>
        <div style="border:1px solid"></div>
        <div class="blankSpace"></div>
        <table class="tableizer-table" style="width:100%">
            <thead>
                <tr class="tableizer-firstrow">
                    <th>S.No.</th>
                    <th>Denomination</th>
                    <th>Count</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ClearenceData.DepositData.Count > 0)
                {
                    foreach (Softomation.DMS.Libraries.CommonLibrary.InterfaceLayer.DenominationIL tran in Model.ClearenceData.DepositData)
                    {
                        index = index + 1;
                        total = tran.BaseValue * tran.MoneyCount;
                        <tr>
                            <td>@index</td>
                            <td>&#8377; @tran.BaseValue</td>
                            <td>@tran.MoneyCount</td>
                            <td>&#8377; @total</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="blankSpace"></div>
        <div style="border:1px solid"></div>
        <table class="tbldata2" style="width:100%;margin-top:100px;">
            <tr>
                <th style="width:30%">
                    <h4><b></b></h4>
                </th>
                <th>

                </th>
                <th style="width:10%">
                    <h4><b>Signature</b></h4>
                    <h5>@DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</h5>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>
